{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
    <div class="container mt-5 mb-5">
        <h1>Changer de mot de passe</h1><br />
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn white_link"/>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
