{% extends 'base.html.twig' %}
{% block title %}Changer de mot de passe{% endblock %}

{% block body %}
    <div class="container">
        {% block fos_user_content %}
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input class="btn button" type="submit" value="Changer"/>
            </div>
            {{ form_end(form) }}

        {% endblock fos_user_content %}
    </div>
{% endblock %}