{% extends 'base.html.twig' %}
{% block title %}Connexion{% endblock %}
{% block body %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    {% trans_default_domain 'FOSUserBundle' %}
    {% block fos_user_content %}

        <div class="container">
            <h1 id="login_title">Connectez-vous</h1>

            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control" type="text" name="_username" value="{{ last_username }}"
                       required="required"/>

                <label id="label_7894653" for="password">{{ 'security.login.password'|trans }}</label>
                <input class="form-control" type="password" name="_password" required="required"/>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="_remember_me" value="on"/>
                    <label class="form-check-label" for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>

                <p class="text-center"><input type="submit" class="btn white_link" id="_submit" name="_submit"
                                              value="{{ 'security.login.submit'|trans }}"/></p>
            </form>

            <div class="text-center login_liens">
                <a href="{{ path('fos_user_registration_register') }}">Inscription</a> - <a
                        href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
            </div>

        </div>

    {% endblock fos_user_content %}
{% endblock body %}