{% extends 'base.html.twig' %}
{% block title %}Mon profil{% endblock %}
{% block body %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}


    <div class="container padding_pages">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 account_profil_edit">
                    <h1>Modifier mes coordonnées</h1>
                    {% block fos_user_content %}
                    <div class="content_blocks">
                        <div class="row">

                            <div class="col-md-6">
                                {{ form_start(form, {'method': 'post', 'action': path('fos_user_profile_edit'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                                {% trans_default_domain 'FOSUserBundle' %}
                                <p>{{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}</p>
                                <p>{{ form_row(form.username, { 'attr': {'class': 'form-control'} }) }}</p>
                                <p>{{ form_row(form.gender, { 'attr': {'class': 'form-control'} }) }}</p>
                                <p>{{ form_row(form.firstname, { 'attr': {'class': 'form-control'} }) }}</p>
                                <p>{{ form_row(form.lastname, { 'attr': {'class': 'form-control'} }) }}</p>
                            </div>

                            <div class="col-md-6">
                                <p>{{ form_row(form.city, { 'attr': {'class': 'form-control'} }) }}</p>
                                <p>{{ form_row(form.phone, { 'attr': {'class': 'form-control'} }) }}</p>
                                <p>{{ form_label(form.birthdate) }} {{ form_widget(form.birthdate, { 'attr': {'class': 'form-control'} }) }}</p>

                                {{ form_row(form.current_password, { 'attr': {'class': 'form-control'} }) }}
                            </div>
                            <div class="edit_buttons_center">
                                <p><button type="submit" class="btn white_link" value="{{ 'profile.edit.submit'|trans }}">Mettre à jour</button></p>&nbsp;
                                <p class="text-center"><a href="{{ path('fos_user_change_password') }}" class="btn white_link">Changer de mot de passe</a></p>&nbsp;
                                <p class="text-center"><a href="{{ path('delete_account') }}" class="btn white_link">Supprimer le compte</a></p>
                            </div>

                            {{ form_end(form) }}
                        </div>

                    </div>
                </div>
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
{% endblock body %}