{% extends 'base.html.twig' %}
{% block title %}Mon profil{% endblock %}
{% block body %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    <div class="container padding_pages">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 account_profil">
                    <h1>Mes Coordonées</h1>
                    {% block fos_user_content %}
                    <div class="content_blocks">
                        <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
                        <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
                        <p>{{ 'profile.show.gender'|trans }}: {{ user.gender }}</p>
                        <p>{{ 'profile.show.lastname'|trans }}: {{ user.lastname }}</p>
                        <p>{{ 'profile.show.firstname'|trans }}: {{ user.firstname }}</p>
                        <p>{{ 'profile.show.city'|trans }}: {{ user.city }}</p>
                        <p>{{ 'profile.show.phone'|trans }}: {{ user.phone }}</p>
                        <p>{{ 'profile.show.birthdate'|trans }}: {{ user.birthdate|date('d-m-Y') }}</p>
                        <br>

                        <div class="profil_buttons text-center">
                            <p><a class="white_link" href="{{ path('fos_user_profile_edit') }}">Modifier</a></p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <p><a class="white_link" href="{{ path('sonata_admin_dashboard') }}">Administration</a></p>
                            {% endif %}
                            <p><a class="white_link" href="{{ path('list_announce') }}">Mes annonces</a></p>
                            <p><a class="white_link" href="{{ path('show_rentals') }}">Mes demandes de réservation</a></p>
                            <p><a class="white_link" href="{{ path('messages') }}">Messagerie</a></p>
                        </div>

                    </div>
                </div>
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>


{% endblock body %}