{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-4">Réinitialer votre mot de passe</h1>
        <br>
        <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
            <div class="form-group">
                <label class="form-text text-muted" for="username">{{ 'resetting.request.username'|trans }}</label>
                <input class="form-control reset_input" type="text" id="username" name="username" required="required" />
            </div>
            <div>
                <input class="btn white_link" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
            </div>
        </form>
    </div>
{% endblock %}
