html, body{
    min-height: 100vh;
}

a, button{
    outline: none !important;
}

.content_blocks{
    padding: 10px 20px;
}

.padding_pages{
    padding-top: 50px;
    padding-bottom: 50px;
}



/*---------------HEADER---------------*/
header{
    background-color: #EAEAEA;
}

header a:hover{
    text-decoration: none;
}



/*--BARRE LOGO + LIENS--*/
.logo {
    max-width: 150px;
}

.white_link{
    padding: 10px 10px;
    border: 2px solid #DFAF37;
    border-radius: 5px;
    color: #DFAF37;
    text-decoration: none;
}

.white_link:hover{
    color: #000;
}

.navbar-light .navbar-nav .nav-link{
    color: #FFF;
}

.buttons_header_1{
    margin-top: 43px;
}

.buttons_header_2{
    margin-top: 31px;
}

.nav-item{
    margin-left: 20px;
    margin-right: 20px;
}


/*--MENU--*/
.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
@media (max-width: 768px) {
    .menu {
        width: 100%;
    }
}

nav {
    background-color: #DFAF37;
}



/*---------------FOOTER---------------*/
footer{
    background-color: #EAEAEA;
    position: absolute;
    bottom: 0;
    padding-top: 20px;
    width: 100%;
}

.espace_footer{
    height: 50px;
}

footer a{
    text-decoration: none;
    color: #000000;
}

footer a:hover{
    text-decoration: none;
    color: #DFAF37;
}




/*************** PAGE LOGIN **************/


.container .form-signin{
    display: block;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #F2F2F2;
    padding: 25px;
    border-radius: 5px;
}

#login_title{
    padding-top: 75px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.8em;
}

.form-signin .form-check{
    margin-top: 10px;
}

#label_7894653{
    margin-top: 15px;
}

.form-signin .white_link{
    background-color: transparent;
    margin-top: 30px;
}

.login_liens{
    margin-top: 25px;
}

.login_liens a{
    color: #000000;
}

.login_liens a:hover{
    color: #DFAF37;
    text-decoration: none;
}





/*************** PAGE ACCUEIL **************/


/* BLOC 1 */
.acc_bloc_1 {
    color: white;
    background-image: url("../img/fond-index.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
    font-size: 1.7em;
    text-align: center;
}

.acc_bloc_1 h1{
    padding-top: 140px;
    padding-bottom: 140px;
    text-transform: uppercase;
}



/* BLOC 2 */
.acc_bloc_2{
    padding-top: 50px;
    padding-bottom: 50px;
}

.acc_bloc_2 h2{
    color: #DFAF37;
    text-align: center;
    font-size: 2em;
}

.acc_bloc_2 .container .row{
    margin-top: 60px;
}

.acc_bloc_2 .container .row img{
    margin-bottom: 20px;
}



/* BLOC 3 */
.acc_bloc_3{
    padding-bottom: 50px;
}

.acc_bloc_3 h2{
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5em;
    background-color: #DFAF37;
    padding: 12px;
    text-transform: uppercase;
}

.commentaire-index{
  display: flex;
  justify-content: space-around;
}

.acc_bloc_3 .container{
    margin-top: 50px;
}

.boutton-index{
    margin-top: 60px;
}





/*************** ANNONCES **************/

.espace_annonce{
    height: 30px;
}


/*LISTE DES ANNONCES*/
.liste_annonces h1{
    margin-top: 15px;
    margin-bottom: 50px;
    font-size: 2.2em;
}

.liste_annonces .col-sm-12{
    background-color: #FAFAFA;
    padding: 25px;
    border-radius: 5px;
}

.liste_annonces .col-sm-12 h5{
    text-transform: uppercase;
}

.liste_annonces .col-sm-12 p{
    font-size: 0.9em;
}

.liste_annonces_liens a{
    text-decoration: none;
}


/*BLOC TITRE IMAGES*/
.announce_title_images{
    border: 1px solid #DFAF37;
    padding: 0 !important;
}

.announce_title_images h1{
    background-color: #DFAF37;
    color: #FFFFFF;
    padding: 10px 5px 10px 20px;
    font-size: 22px;
    font-weight: normal;
}


/*BLOC DESCRIPTION*/
.announce_description{
    border: 1px solid #DFAF37;
    padding: 0 !important;
}

.announce_description h2{
    background-color: #DFAF37;
    color: #FFFFFF;
    padding: 10px 5px 10px 20px;
    font-size: 22px;
    font-weight: normal;
}


/*BLOC INFOS LOUEUR*/
.announce_renter{
    border: 1px solid #DFAF37;
    padding: 0 !important;
}

.announce_renter h2{
    background-color: #DFAF37;
    color: #FFFFFF;
    padding: 10px 5px 10px 20px;
    font-size: 22px;
    font-weight: normal;
}

.announce_renter a{
    color: #DFAF37;
    text-decoration: none;
}

.announce_renter a:hover{
    color: #000000;
}



/*************** PAGE PROFIL **************/

.account_profil{
    border: 1px solid #DFAF37;
    padding: 0 !important;
}

.account_profil h1{
    background-color: #DFAF37;
    color: #FFFFFF;
    padding: 10px 5px 10px 20px;
    font-size: 22px;
    font-weight: normal;
}

.account_profil a:hover{
    text-decoration: none;
}

.profil_buttons p{
    display: inline-block;
}


/* EDIT */
.account_profil_edit{
    border: 1px solid #DFAF37;
    padding: 0 !important;
}

.account_profil_edit h1{
    background-color: #DFAF37;
    color: #FFFFFF;
    padding: 10px 5px 10px 20px;
    font-size: 22px;
    font-weight: normal;
}

.account_profil_edit a:hover{
    text-decoration: none;
}

.account_profil_edit .white_link{
    margin-top: 40px;
    color: #DFAF37 !important;
}

.account_profil_edit .white_link:hover{
    color: #000000 !important;
}

.account_profil_edit input, .account_profil_edit select{
    margin-bottom: 25px;
    max-width: 400px;
}

.edit_buttons_center{
    width: auto;
    margin: 0 auto;
}

.edit_buttons_center p{
    display: inline-block;
}


/* MY ANNOUNCES */

.my_announces{
    border: 1px solid #DFAF37;
    padding: 0 !important;
}

.my_announces h1{
    background-color: #DFAF37;
    color: #FFFFFF;
    padding: 10px 5px 10px 20px;
    font-size: 22px;
    font-weight: normal;
}

.my_announces td a{
    color: #DFAF37;
}

.my_announces td a:hover{
    text-decoration: none;
    color: #000000;
}

.table th, .table td{
    border: 0;
}

.my_announces_add{
    margin-top: 50px;
}

.my_announces_add a{
    display: block;
    width: 85px;
    margin: 0 auto;
    text-align: center;
}





/*************** PAGE CONTACTER LE LOUEUR **************/

.loueur_contact textarea{
    width: 350px;
    min-height: 200px;
    max-height: 400px;
    border: 1px solid #CED4DA;
    border-radius: 3px;
    padding: 5px 5px 5px 10px;
}

.loueur_contact .white_link{
    margin-top: 25px;
}

.loueur_contact p{
    margin-bottom: 30px;
}





/*************** PAGE CONTACTER ADMINS **************/

.admin_contact h2{
    margin-bottom: 50px;
}

.admin_contact input{
    width: 350px;
}

.admin_contact textarea{
    width: 350px;
    min-height: 200px;
    max-height: 400px;
    border: 1px solid #CED4DA;
    border-radius: 3px;
    padding: 5px 5px 5px 10px;
}





/*************** PAGE INSCRIPTION **************/

.registration h1{
    margin-bottom: 50px;
}

.registration input, .registration select{
    margin-bottom: 25px;
    max-width: 400px;
}

.registration .white_link{
    margin-top: 25px;
    text-transform: uppercase;
}




/*************** PAGE AJOUT ANNONCE **************/

.ajout_annonce h1{
    margin-bottom: 60px;
}

.ajout_annonce input, .ajout_annonce select{
    margin-bottom: 25px;
    max-width: 400px;
}

.ajout_annonce .new_annonce_button{
    display: block;
    width: auto;
    margin: 25px auto 0 auto;
    text-transform: uppercase;
}

#announce_description{
    max-width: 400px;
    max-height: 300px;
}

.faq strong {
    color: #DFAF37
}

.description {
    width: 75%;
}



/*************** PAGE FAQ **************/

.faq strong{
    color: #DFAF37;
}



/*************** PAGE MENTIONS LEGALES **************/

.legals h3{
    margin-top: 50px !important;
}

.legals h2{
    text-align: center;
    font-size: 2em;
    margin-bottom: 25px;
    border-bottom: 1px solid #000000;
    padding-bottom: 15px;
}

.legals #h2_bis_legals{
    margin-top: 100px;
}

.legals a{
    color: #DFAF37;
}

.legals a:hover{
    color: #FFB600;
}



/*************** LOGIN SUCCESSFUL **************/

.login_success{
    display: block;
    max-width: 750px;
    margin: 0 auto;
    background-color: #DFAF37;
    margin-top: 75px;
    padding: 20px;
    font-family: sans-serif;
}

.login_success p{
    text-align: center;
    font-size: 0.9em;
    color: #FFFFFF;
}

.login_success a{
    text-decoration: none;
    font-size: 0.9em;
    color: #0f0f0f;
}

.login_success h1{
    font-size: 2em;
    color: #FFFFFF;
}

.img-announce {
    height: auto;
    max-width: 50%;
}


/*************** DISPONIBILITES ET PHOTOS **************/

.photosetdispos a{
    color: #DFAF37;
}

#disponibility_date, .custom-file{
    max-width: 300px;
}





/*************** PAGE RESET **************/

.reset_input{
    max-width: 500px;
}