{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block body %}
    <div class="container mt-5 mb-5">
        {% block fos_user_content %}
            <br>
            <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>
        {% endblock fos_user_content %}
    </div>

{% endblock %}
