{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}" xmlns="http://www.w3.org/1999/html">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    {% trans_default_domain 'FOSUserBundle' %}
    {% block fos_user_content %}

        <div class="container padding_pages registration">
            <h1>Inscrivez-vous !</h1>

            <div class="row">
                <div class="col-md-6">
                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {{ form_row(form.email, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.username, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.gender, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.firstname, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.lastname, { 'attr': {'class': 'form-control'} }) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.city, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.phone, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_row(form.birthdate, { 'attr': {'class': 'form-control'} }) }}

                </div>
            </div>

            <div class="text-center">
                <button class="btn white_link" value="{{ 'registration.submit'|trans }}"/>
                Envoyer</button>
            </div>

            {{ form_end(form) }}
        </div>

    {% endblock fos_user_content %}
{% endblock body %}