{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <div>
        {% if object.getPhotos().getSnapshot()[0] is defined %}
            {% for photo in object.getPhotos().getSnapshot() %}
                <img class="img-fluid card-img-top" src="{{ photo.file }}" alt="image de l'annonce">
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}