{% extends 'base.html.twig' %}
{% block title %}Nouvelle annonce{% endblock %}
{% block body %}
    <div class="container padding_pages ajout_annonce">
        <h1>Mon annonce</h1>
        <div class="row">

            <div class="col-md-6">
                {{ form_start(formAnnounce) }}
                {{ form_row(formAnnounce.title, { 'attr': {'class': 'form-control'} }) }}
                {{ form_row(formAnnounce.description, { 'attr': {'class': 'form-control'} }) }}
                {{ form_row(formAnnounce.reference, { 'attr': {'class': 'form-control description'} }) }}
                {{ form_row(formAnnounce.brandname, { 'attr': {'class': 'form-control'} }) }}
            </div>

            <div class="col-md-6">
                {{ form_row(formAnnounce.price, { 'attr': {'class': 'form-control'} }) }}
                {{ form_label(formAnnounce.purchase_date) }}<br>
                {{ form_widget(formAnnounce.purchase_date) }}
                {{ form_row(formAnnounce.instrument, { 'attr': {'class': 'form-control'} }) }}
                {{ form_row(formAnnounce.quality, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="new_annonce_button">{{ form_row(formAnnounce.save, { 'attr': {'class': 'white_link'} }) }}</div>
            {{ form_end(formAnnounce) }}
        </div>
    </div>
{% endblock body %}