{% extends 'base.html.twig' %}
{% block title %}Ajouter un/des date de disponibiliés{% endblock %}
{% block body %}
    <div class="container photosetdispos mt-5 mb-5">
        <h1 class="mb-5">Ajouter des disponibilités</h1>
        <div>
            {% if disponibilities is not empty %}
                {% for disponibility in disponibilities %}
                    {{ disponibility.date|date('d-m-Y') }}
                    <a href="{{ path('delete_disponibility', {'id': disponibility.announce.id, 'id_disponibility': disponibility.id}) }}">Supprimer</a>
                {% endfor %}
            {% endif %}
        </div>
        {{ form_start(form) }}
        {{ form_row(form.date, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(form.save, { 'attr': {'class': 'white_link'} }) }}
        <a href="{{ path('list_announce') }}">Terminer</a>
        {{ form_end(form) }}
    </div>

{% endblock body %}