{% extends 'base.html.twig' %}
{% block title %}Ajouter un/des photos{% endblock %}
{% block body %}
    <div class="container photosetdispos mt-5 mb-5">
        <h1 class="mb-5">Ajouter des photos</h1>
        <div>
            {% if photos is defined and photos is not empty %}
                {% for photo in photos %}
                    <img class="img-fluid img-announce" src="{{ photo.file }}"/>
                    <a href="{{ path('delete_photo', {'id': photo.announce.id, 'id_photo': photo.id}) }}">Supprimer</a>
                {% endfor %}
            {% endif %}
        </div>
        {{ form_start(form) }}
        <div id="inputGroupFile02" class="custom-file mt-4">
            {{ form_label(form.file) }}
            {{ form_widget(form.file) }}
        </div>
        {{ form_row(form.save, { 'attr': {'class': 'mt-4 white_link'} }) }}
        {{ form_end(form) }}
        <a href="{{ path('announce_part3', {'id': announce.id}) }}">Suivant</a>
    </div>
{% endblock body %}