{% extends 'base.html.twig' %}
{% block title %}Toutes les annonces{% endblock %}
{% block body %}
    <div class="container padding_pages liste_annonces">
        {% if listAnnounce is empty %}
            Aucune annonce !
        {% else %}
            <h1 class="text-center">Toutes les annonces</h1>
            <div class="row">
                {% for Announce in listAnnounce %}
                    <div class="col-sm-4 content_blocks" style="width: 18rem;">
                        <div class="col-sm-12">
                            {% if Announce.photos.owner.photos.snapshot[0] is defined %}
                                <img class="img-fluid card-img-top"
                                     src="{{ Announce.photos.owner.photos.snapshot[0].file }}" alt="image de l'annonce">
                            {% endif %}
                            <h5 class="card-title">{{ Announce.title }}</h5>
                            <p class="card-text">{{ Announce.description }}</p>
                            <p class="card-text">{{ Announce.price }} € / jour</p>
                            <a href="{{ path('show_announce', {'id': Announce.id}) }}" class="btn white_link">Voir
                                l'annonce</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}