    <!DOCTYPE html>
<html>
<head>
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('img/favicon/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('img/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('img/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('img/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('img/favicon//ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Accueil{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
    {% block css %}{% endblock %}
</head>
<body class="position-relative">
<header>
    <div class="">
        <div class="">
            <!--LOGO-->
            <div class="d-none d-md-block">
                <a href="{{ path('index') }}"><img class="img-fluid logo m-2 ml-5" src="{{ asset('img/logo.png') }}"
                                                   alt="Logo Zikaloka"/></a>
                <div class="d-none d-md-block float-right mr-4">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <div class="buttons_header_1">
                            {{ app.user.firstname }} | <a class="white_link" href="{{ path('fos_user_profile_show') }}">
                                Mon compte</a>
                            <a class="white_link" href="{{ path('fos_user_security_logout') }}">
                                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                            </a>
                        </div>
                    {% else %}
                        <div class="buttons_header_2">
                            <button type="button" class="btn white_link" data-toggle="modal"
                                    data-target="#exampleModal">
                                Connexion
                            </button>
                        </div>
                    {% endif %}
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Connexion</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="tmpmodal"></div>
                            </div>
                            <div class="modal-footer">
                                <a class="white_link"
                                   href="{{ path('fos_user_registration_register') }}">Inscription</a>
                                <a class="white_link" href="{{ path('fos_user_resetting_request') }}">Mot de passe
                                    oublié</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--2EME PARTIE : MENU-->
    <nav class="navbar navbar-light navbar-expand-md">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar"
                aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="d-md-none hidden-md" style="right: 0">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a class="white_link" href="{{ path('fos_user_profile_show') }}"> Mon compte</a>
                <a class="white_link" href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a class="white_link"
                   href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %}
        </div>
        <div class="collapse navbar-collapse  justify-content-between align-items-center w-100" id="collapsingNavbar">
            <ul class="navbar-nav mx-auto text-center">
                <li class="nav-item d-md-none hidden-md">
                    <a class="nav-link" href="{{ path('index') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('list_index_announce') }}">Annonces</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('add_announce') }}">Poster une annonce</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('faq') }}">Foire aux questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('contact_admin') }}">Contactez-nous</a>
                </li>
            </ul>
        </div>
    </nav>
    <!--    CONTENU     -->
</header>
{% block body %}

    <div class="acc_bloc_1">
        <h1>Un grand choix d'instruments et de matériel</br>disponibles en location</h1>
    </div>


    <div class="acc_bloc_2">
        <h2>ZIKALOKA, LA REFERENCE LOCATION <br><span>pour les professionnels et les particuliers</span></h2>

        <div class="container text-center">
            <div class="row">

                <div class="col-md-4">
                    <img src="{{ asset('img/elmt1.png') }}" alt="guitare"/>
                    <p>Un grand choix de location</br>pour tous les budgets</p>
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('img/elmt2.png') }}" alt="shield"/>
                    <p>Un espace sécurisé</br>et des garanties</p>
                </div>

                <div class="col-md-4">
                    <img src="{{ asset('img/elmt3.png') }}" alt="form"/>
                    <p>Commencez à louer et</br>gagner de l'argent</p>
                </div>
            </div>
        </div>
    </div>


    <div class="acc_bloc_3">
        <h2>Les avis de nos utilisateurs</h2>

        <div class="container">
            <div class="commentaire-index">
                <div class="commentaire-item">
                    <p>"Zikaloka était pour moi une évidence pour proposer</br>mon matériel et mes instruments.
                        Sécurité, efficacité</br>et garantie de paiement ! Quoi de mieux ?"</p>
                    <p>Laurent P.</p>
                </div>

                <div class="commentaire-item">
                    <p>"Je souhaitais louer mes anciens instruments et j'ai</br>trouvé l'offre de Zikaloka qui me permet
                        de les</br>proposer de manière totalement sécurisée."</p>
                    <p>Laura M.</p>
                </div>
            </div>

            <div class="boutton-index text-center">
                <a href="{{ path('fos_user_registration_register') }}" class="btn white_link">Je m'inscris</a>
            </div>

        </div>
    </div>

{% endblock body %}


<!--    FOOTER     -->
<div class="espace_footer"></div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-6"><p class="text-left">© Zikaloka 2018 - Tout droits réservés</p></div>
            <div class="col-sm-6"><p class="text-right"><a href="{{ path('legals') }}">Mentions Légales</a></p></div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    $('#exampleModal').on('show.bs.modal', function (event) {
        $.post('{{ path('fos_user_security_login') }}', function (xx) {
            var $response = $(xx);
            $('#tmpmodal').html($response.find('form'))
        })
    })
</script>
</body>
</html>