{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
    <div class="container col-md-6 mt-5">
        <h2>Contacter un administrateur</h2>

        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>

            {% endfor %}
        {% endfor %}
        {{ form_start(formMessage) }}


            {{ form_row(formMessage.email, { 'attr': {'label': 'Votre adresse email','class': 'form-control'} }) }}


        {{ form_row(formMessage.subject, { 'attr': {'label': 'Sujet','class': 'form-control'} }) }}
        {{ form_row(formMessage.message, { 'attr': {'class': 'form-control'} }) }}

        {{ form_row(formMessage.save, { 'attr': {'class': 'white_link mt-4'} }) }}

        {{ form_end(formMessage) }}

    </div>
{% endblock %}