{% extends 'base.html.twig' %}
{% block title %}Contact{% endblock %}
{% block body %}
    <div class="container col-md-6 mt-5">
        <h1>Demande d'informations</h1>
        <p>Vous souhaitez contacter <strong>{{ user.getFirstName() ~ ' ' ~ user.getLastName() }}</strong> pour
            l'annonce <strong>{{ announce.getTitle() }}</strong> ?</p>

        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>

            {% endfor %}
        {% endfor %}
        {{ form_start(formMessage) }}
        {{ form_row(formMessage.subject, { 'attr': {'label': 'Sujet','class': 'form-control'} }) }}
        {{ form_row(formMessage.message, { 'attr': {'class': 'form-control'} }) }}

        {{ form_row(formMessage.save, { 'attr': {'class': 'white_link mt-4'} }) }}

        {{ form_end(formMessage) }}


    </div>
{% endblock %}