{% extends 'base.html.twig' %}
{% block title %}Messages{% endblock %}
{% block css %}
    <style>

        .containers {
            background-color: #f1f1f1;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            width: 80%;
        }

        .darker {
            border-radius: 5px;
            background-color: #0084ff;
            color: white;
            width: auto;
            margin-left: 20%;
        }

        .containers::after {
            content: "";
            clear: both;
            display: table;
        }

        .time-right {
            float: right;
            color: #aaa;
        }

        .time-left {
            float: left;
            color: white;
        }

        .my_announces {
            overflow: scroll;
            height: 300px;
        }
    </style> {% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 my_announces">
                {% if messages is empty %}
                    <p align="center">Aucun messages envoyés !</p>
                {% else %}


                    {% for message in messages %}
                        {% if message.userIdSender.id != app.user.id %}
                            <div class="containers">
                                <p>{{ message.message }}</p>
                                <span class="time-right">{{ message.sentDate|date('d/m/Y') }}</span>
                            </div>
                        {% else %}

                            <div class="containers darker">
                                <p>{{ message.message }}</p>
                                <span class="time-left">{{ message.sentDate|date('d/m/Y') }}</span>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

            </div>
        </div>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}