{% extends 'base.html.twig' %}
{% block title %}Foire aux questions{% endblock %}
{% block body %}

    <div class="container mt-5 mb-5">
        <div class="faq">
            <h1 style="text-align: center">Bienvenue sur notre FAQ. Vous avez des difficultés à utiliser notre
                plateforme de location d'instruments de musique ?<br/>Une solution à votre problème se trouve
                certainement ici.</h1><br/><br/>
            <br><br>
            <h2>Vous ne savez pas comment vous inscrire ?</h2>
        </div>
        <p>Cliquez sur le boutton <strong>Connexion</strong> en haut à droite de votre page. Dans le formulaire qui
            apparaît veuillez sélectionner <strong>Inscription</strong>.
            Vous allez ensuite être redirigé sur notre formulaire d'inscription. Remplissez tous les champs demandés
            puis cliquez sur <strong>S'inscrire</strong>.</p><br/><br/>
        <br><br>
        <h2>Vous n'arrivez pas à retrouver vos identifiants ?</h2>
        <p>Cliquez sur le boutton <strong>Connexion</strong> en haut à droite de votre page. Dans le formulaire qui
            apparaît veuillez sélectionner <strong>Mot de passe oublié</strong>.
            Vous allez ensuite recevoir votre mot de passe dans votre boite mail.</p><br/><br/>
        <br><br>
        <h2>Vous souhaitez ajouter une annonce ?</h2>
        <p>Une fois que vous êtes connecté, cliquez sur <strong>Poster une annonce</strong>. Veuillez remplir tous les
            champs demandés puis cliquez sur <strong>Envoyer</strong> pour créer votre annonce.</p><br/><br/>
        <br><br>
        <h2>Vous souhaitez modifier votre compte ?</h2>
        <p>Cliquez sur le bouton <strong>Mon compte</strong> en haut de votre page, puis veuillez sélectionner le bouton
            <strong>Modifier</strong> qui se trouve en dessous de vos informations personnelles pour accéder au
            formulaire de modification d'informations.</p><br/><br/>
        <br><br>
        <h2>Vous voulez voir toutes les annonces que vous avez posté et les gérer ?</h2>
        <p>Cliquez sur le bouton <strong>Mon compte</strong> en haut de votre page, puis veuillez sélectionner le bouton
            <strong>Mes annonces</strong> qui se trouve en dessous de vos informations personnelles pour visualiser vos
            différentes annonces. Vous pourrez administrer vos annonces à partir de cette page.</p><br/><br/>
        <br><br>
        <h2>Vous souhaitez nous contacter ?</h2>
        <p>Dans le menu, nous avons ajouté le lien <strong>Contactez-nous</strong> qui vous permet de nous écrire.
            Veuillez remplir le champ <strong>Sujet</strong> et le champ <strong>Votre message</strong> puis cliquez sur
            le bouton <strong>Envoyer</strong> pour nous faire parvenir votre question.
            Nous y répondrons dans les plus brefs délais.</p>
    </div>
    </div>
{% endblock %}