{% extends 'base.html.twig' %}
{% block title %}Mentions Légales{% endblock %}
{% block body %}
    <div class="container padding_pages legals">
        <h2>Nos mentions légales</h2>
        <article>
            <div class="col-md-12 col-sm-12"> Merci de lire attentivement les présentes modalités d'utilisation du
                présent site avant de le parcourir. En vous connectant sur ce site, vous acceptez sans réserve les
                présentes modalités.

                <h3>Conditions d'utilisation</h3>
                Le site accessible par les url suivants : https://zikaloka.fr est exploité dans le respect de
                la législation française. L'utilisation de ce site est régie par les présentes conditions générales. En
                utilisant le site, vous reconnaissez avoir pris connaissance de ces conditions et les avoir acceptées.
                Celles-ci pourront êtres modifiées à tout moment et sans préavis par la société Zikaloka.<br>
                Zikaloka ne saurait être tenu pour responsable en aucune manière d’une mauvaise utilisation du
                service.


                <h3>Limitation de responsabilité</h3>
                Les informations contenues sur ce site sont aussi précises que possibles et le site est périodiquement
                remis à jour, mais peut toutefois contenir des inexactitudes, des omissions ou des lacunes. Si vous
                constatez une lacune, erreur ou ce qui parait être un dysfonctionnement, merci de bien vouloir le
                signaler par <a href="https://zikaloka.fr/contact" style="text-decoration:none">email</a> en décrivant le
                problème de la manière la plus précise possible (page posant problème, action déclenchante, type
                d’ordinateur et de navigateur utilisé, …).<br>
                <br>
                Tout contenu téléchargé se fait aux risques et périls de l'utilisateur et sous sa seule responsabilité.
                En conséquence, Zikaloka ne saurait être tenu responsable d'un quelconque dommage subi par
                l'ordinateur de l'utilisateur ou d'une quelconque perte de données consécutives au téléchargement.
                <br>
                Les photos sont non contractuelles.<br>
                <br>
                Les liens hypertextes mis en place dans le cadre du présent site internet en direction d'autres
                ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de Natural-net.
                <h3>Litiges</h3>
                Les présentes conditions sont régies par les lois françaises et toute contestation ou litiges qui
                pourraient naître de l'interprétation ou de l'exécution de celles-ci seront de la compétence exclusive
                des tribunaux dont dépend le siège social de la société Natural-net. La langue de référence, pour le
                règlement de contentieux éventuels, est le français.

                <h3>Déclaration à la CNIL</h3>
                Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la
                protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative
                à l'informatique, aux fichiers et aux libertés, le site a fait l'objet d'une déclaration auprès de la
                Commission nationale de l'informatique et des libertés (<a href="http://www.cnil.fr/"
                                                                           style="text-decoration:none" target="_blank">www.cnil.fr</a>).&nbsp;

                <h3>Droit d'accès</h3>
                En application de cette loi, les internautes disposent d’un droit d’accès, de rectification, de
                modification et de suppression concernant les données qui les concernent personnellement. Ce droit peut
                être exercé par voie postale auprès de Zikaloka 49 Boulevard Antoine Gautier 33000 Bordeaux ou par
                voie électronique à l’adresse email suivante : <a href="mailto:zikaloka.contact@gmail.com"
                                                                  style="text-decoration:none">zikaloka.contact@gmail.com</a>.<br>
                Les informations personnelles collectées ne sont en aucun cas confiées à des tiers hormis pour
                l’éventuelle bonne exécution de la prestation commandée par l’internaute.
                <h3>Confidentialité</h3>
                Vos données personnelles sont confidentielles et ne seront en aucun cas communiquées à des tiers hormis
                pour la bonne exécution de la prestation.

                <h3>Propriété intellectuelle</h3>

                <p>Tout le contenu du présent site, incluant, de façon non limitative, les graphismes, images, textes,
                    vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en forme sont la propriété
                    exclusive de la société Zikaloka à l'exception des marques, logos ou contenus appartenant à
                    d'autres sociétés partenaires ou auteurs.<br>
                    Toute reproduction, distribution, modification, adaptation, retransmission ou publication, même
                    partielle, de ces différents éléments est strictement interdite sans l'accord exprès par écrit de
                    Natural-net. Cette représentation ou reproduction, par quelque procédé que ce soit, constitue une
                    contrefaçon sanctionnée par les articles L.3335-2 et suivants du Code de la propriété
                    intellectuelle. Le non-respect de cette interdiction constitue une contrefaçon pouvant engager la
                    responsabilité civile et pénale du contrefacteur. En outre, les propriétaires des Contenus copiés
                    pourraient intenter une action en justice à votre encontre.<br>
                    <br>
                    Zikaloka est identiquement propriétaire des "droits des producteurs de bases de données" visés au
                    Livre III, Titre IV, du Code de la Propriété Intellectuelle (loi n° 98-536 du 1er juillet 1998)
                    relative aux droits d'auteur et aux bases de données. <br>
                    <br>
                    Les utilisateurs et visiteurs du site internet peuvent mettre en place un hyperlien en direction de
                    ce site, mais uniquement en direction de la page d’accueil, accessible à l’URL suivante :
                    www.site-internet-qualite.fr, à condition que ce lien s’ouvre dans une nouvelle fenêtre. En
                    particulier un lien vers une sous page (« lien profond ») est interdit, ainsi que l’ouverture du
                    présent site au sein d’un cadre (« framing »), sauf l'autorisation expresse et préalable de
                    Zikaloka.<br>
                    <br>


                <h2 id="h2_bis_legals">Conditions de service</h2>
                Ce site est proposé en langages <strong>HTML5 </strong>et <strong>CSS3</strong>, pour un meilleur
                confort d'utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des
                navigateurs modernes comme Safari, Firefox, Chrome,...<a href="https://www.site-internet-qualite.fr/"
                                                                         style="text-decoration:none"> </a> <a
                        href="http://www.natural-net.fr/" style="text-decoration:none"> </a>

                <h3>Informations et exclusion</h3>
                Zikaloka met en œuvre tous les moyens dont elle dispose, pour assurer une information fiable et une
                mise à jour fiable de ses sites internet. Toutefois, des erreurs ou omissions peuvent survenir.
                L'internaute devra donc s'assurer de l'exactitude des informations auprès de Natural-net, et signaler
                toutes modifications du site qu'il jugerait utile. Zikaloka n'est en aucun cas responsable de
                l'utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.

                <h3>Liens hypertextes</h3>
                Les sites internet de Zikaloka peuvent offrir des liens vers d’autres sites internet ou d’autres
                ressources disponibles sur Internet.<br>
                <br>
                Zikaloka ne dispose d'aucun moyen pour contrôler les sites en connexion avec ses sites internet.
                Zikaloka ne répond pas de la disponibilité de tels sites et sources externes, ni ne la garantit. Elle
                ne peut être tenue pour responsable de tout dommage, de quelque nature que ce soit, résultant du contenu
                de ces sites ou sources externes, et notamment des informations, produits ou services qu’ils proposent,
                ou de tout usage qui peut être fait de ces éléments. Les risques liés à cette utilisation incombent
                pleinement à l'internaute, qui doit se conformer à leurs conditions d'utilisation.<br>
                <br>
                Les utilisateurs, les abonnés et les visiteurs des sites internet de Zikaloka ne peuvent mettre en
                place un hyperlien en direction de ce site sans l'autorisation expresse et préalable de Natural-net.<br>
                <br>
                Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en place un hyperlien en direction
                d’un des sites internet de Zikaloka, il lui appartiendra d'adresser un email accessible sur le site
                afin de formuler sa demande de mise en place d'un hyperlien. Natural-net se réserve le droit d’accepter
                ou de refuser un hyperlien sans avoir à en justifier sa décision.
                <h3>Recherche</h3>
                En outre, le renvoi sur un site internet pour compléter une information recherchée ne signifie en aucune
                façon que Zikaloka reconnaît ou accepte quelque responsabilité quant à la teneur ou à l'utilisation
                dudit site.

                <h3>Précautions d'usage</h3>
                Il vous incombe par conséquent de prendre les précautions d'usage nécessaires pour vous assurer que ce
                que vous choisissez d'utiliser ne soit pas entaché d'erreurs voire d'éléments de nature destructrice
                tels que virus, trojans, etc....

                <h3>Responsabilité</h3>
                Aucune autre garantie n'est accordée au client, auquel incombe l'obligation de formuler clairement ses
                besoins et le devoir de s'informer. Si des informations fournies par Zikaloka apparaissent inexactes,
                il appartiendra au client de procéder lui-même à toutes vérifications de la cohérence ou de la
                vraisemblance des résultats obtenus. Zikaloka ne sera en aucune façon responsable vis à vis des tiers
                de l'utilisation par le client des informations ou de leur absence contenues dans ses produits y compris
                un de ses sites Internet.<a href="https://www.site-internet-qualite.fr/" style="text-decoration:none">&nbsp;</a>
                <a href="http://www.natural-net.fr/" style="text-decoration:none">&nbsp;</a>

                <h3>Contactez-nous</h3>
                Zikaloka est à votre disposition pour tous vos commentaires ou suggestions. Vous pouvez nous écrire
                en français par courrier électronique à : <a href="mailto:zikaloka.contact@gmail.com"
                                                             style="text-decoration:none">zikaloka.contact@gmail.com</a>.<br>

            </div>
        </article>
    </div>

{% endblock %}