{% extends 'base.html.twig' %}
{% block title %}Mes annonces{% endblock %}
{% block body %}

    <div class="container padding_pages">
        {% if listAnnounce is empty %}
            Aucune annonce !
        {% else %}
            <div class="row">
                <div class="col-sm-12 my_announces">
                    <h1>Mes annonces</h1>
                    <table class="table">
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Prix</th>
                        <th>Etat</th>
                        <th>Outils</th>
                        {% for Announce in listAnnounce %}
                            <tr>
                                <td>{{ Announce.title }}</td>
                                <td>{{ Announce.description }}</td>
                                <td>{{ Announce.price }}€</td>
                                <td>{% if Announce.isActive is null %}
                                        En attente de validation
                                    {% elseif Announce.isActive is same as(false) %}
                                        Refusée
                                    {% else %}
                                        Validée
                                    {% endif %}
                                </td>
                                <td><a href="{{ path('edit_announce', {'id': Announce.id}) }}">Modifier</a> / <a
                                            href="{{ path('delete_announce', {'id': Announce.id}) }}">Supprimer</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% endif %}
        <br><br>

        <div class="text-center liste_annonces_liens">
            <a class="white_link" href="{{ path('add_announce') }}">Ajouter</a>
            <a class="white_link" href="{{ path('see_rental') }}">Réservations sur mes annonces</a>
        </div>
    </div>
{% endblock %}