<img src="../public/img/logo.png" alt="logo"/>
<img src="../public/img/fond-index.png" alt="fond"/>
<h1>Bienvenue sur Zikaloka</h1>
<p>Félicitations {{ user.civility }} {{ user.name }} vous vous êtes bien inscrit sur le site de Zikaloka ! Afin de
    finaliser votre inscription,
    veuillez cliquer sur ce lien : {{ user.linkInscrption }}.</br>
    Vous souhaitez louer du matériel ou en proposer à la location ? N’attendez plus et connectez-vous sur Zikaloka.com.
    Vous
    trouverez sur notre site tous cedont vous pouvez attendre d’un site de location d’instruments de musique.
</p>
<img src="../public/img/elmt1.png"/>
<div class="espace_footer"></div>
<footer>
    <div class="container">
        <p><a class="text-muted" href="{{ path('legals') }}">Mentions Légales</a></p>
        <p><a class="text-muted" href="#">www.zikaloka.com</a></p>
        <p class="text-muted text-right"><a class="text-muted" href="#">Se désinscrire</p>
    </div>
</footer>
</div>