<img src="../public/img/logo.png" alt="logo"/>
<img src="../public/img/fond-index.png" alt="fond"/>
<h1>Récapitulatif de votre annonce</h1>
{{ body }}
<div class="espace_footer"></div>
<footer>
    <div class="container">
        <p><a class="text-muted" href="{{ path('legals') }}">Mentions Légales</a></p>
        <p><a class="text-muted" href="#">www.zikaloka.com</a></p>
        <p class="text-muted text-right"><a class="text-muted" href="#">Se désinscrire</p>
    </div>
</footer>
</div>