{% extends 'base.html.twig' %}
{% block title %}Réservation{% endblock %}
{% block body %}
    <div class="container mt-5 mb-5 col-md-6">
        <h1>Réservation</h1>
        <p>Vous souhaitez réserver pour l'annonce <strong>{{ announce.getTitle() }}</strong> ?</p>

        <div class="col-md-6">

            {% for message in app.flashes('error') %}

                <div class="alert alert-info">
                    {{ message }}
                </div>

            {% endfor %}
            {% if allDispo is empty %}
                Aucune date de disponible !
            {% else %}
            {{ form_start(form) }}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Sélection</th>
                    <th scope="col">Date de disponibilité</th>
                </tr>
                </thead>
                <tbody>
                {% for dispo in allDispo %}
                    <tr>
                        <td>{{ form_row(attribute(form,dispo.id), { 'attr': {'class': 'form-check-input'} }) }}
                        </td>
                        {{ form_row(attribute(form,dispo.date|date("dmY")), { 'attr': {'class': 'form-check-input'} }) }}
                        <td>{{ dispo.date|date("d/m/Y") }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


            {{ form_end(form) }}
            {% endif %}
            <a class="btn white_link" href="{{ path('show_rentals') }}">Voir mes demandes de réservations</a>

        </div>


    </div>
{% endblock %}