{% extends 'base.html.twig' %}
{% block title %}Messagerie{% endblock %}
{% block body %}<br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 my_announces">
                <h1>Messages envoyés</h1>
                {% if listMessages is empty %}
                    <p align="center">Aucun messages envoyés !</p>
                {% else %}
                    <table class="table">
                        <th>Nom</th>
                        <th>Message</th>
                        <th>Date d'envoi</th>

                        {% for message in listMessages %}
                            <tr>
                                <td>{{ message.userIdSender.firstname }} {{ message.userIdSender.lastname }}</td>
                                <td>
                                    <a href="{{ path('message', {'id': message.conversation }) }}">{{ message.message }}</a>

                                </td>
                                <td>{{ message.sentDate|date('d/m/Y') }}</td>

                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}