{% extends 'base.html.twig' %}
{% block title %}Demandes sur mes annonces{% endblock %}
{% block body %}
    <div class="container mt-5 mb-5">
        <h1 class="mb-4">Demandes en cours sur mes annonces</h1>


        <div class="col-md-12">
            {% if userRentals is empty %}
            Aucune annonce !
            {% else %}
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Annonce</th>
                    <th scope="col">Client</th>
                    <th scope="col">Dates réservés</th>
                    <th scope="col">Confirmé</th>
                </tr>
                </thead>
                <tbody>
                {% for item in userRentals %}
                    <tr>
                        <td>
                            <a href="{{ path('show_announce', {'id': item.announce.id}) }}"> {{ item.announce.title }}</a>
                        </td>
                        <td>{{ item.announce.user }}</td>
                        <td>{{ item.choiceDate|date('d/m/Y') }}</td>
                        <td>{% if item.confirmed %}Oui{% else %}<a href="{{ path('confirm_rental', {'id':item.id }) }}">
                                    Confirmer</a> / <a
                                        href="{{ path('cancel_rental', {'id':item.id }) }}">Refuser</a>{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

        {% endif %}
    </div>
{% endblock %}