{% extends 'base.html.twig' %}
{% block title %}Annonce{% endblock %}
{% block body %}
    <div class="container padding_pages">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-12 announce_title_images">
                    <h1>{{ announce.title }}</h1>
                    {% if announce.photos.owner.photos.snapshot[0] is defined %}
                        <div class="content_blocks">
                            {% for photo in announce.photos.owner.photos.snapshot %}
                                <img class="img-fluid card-img-top" src="{{ photo.file }}" alt="image de l'annonce">
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="espace_annonce"></div>

        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12 announce_description">
                    <h2>Description</h2>
                    <div class="content_blocks">
                        <p>Description : {{ announce.description }}</p>
                        <p>Prix : {{ announce.price }} € / jour</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-12 announce_renter">
                    <h2>Loueur</h2>
                    <div class="content_blocks">
                        <p>Nom : {{ user.getFirstName() ~ ' ' ~ user.getLastName() }} <br>
                            Ville : {{ user.getCity() }}<br>
                            {% if announce.mark is not null %}Note de l'annonce : {{ announce.mark }}/5{% endif %}
                        </p>
                        <a href="{{ path('contact_renter',{'id': announce.id}) }}">Contacter</a><br>
                        <a href="{{ path('make_rental',{'id': announce.id}) }}">Faire une demande de réservation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}