{% extends 'base.html.twig' %}

{% block title %}
    Note de la location
{% endblock %}

{% block body %}
    <br>
    <div class="container">
        {% for label, messages in app.flashes(['success', 'danger']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>

            {% endfor %}
        {% endfor %}

        <h3>Note de la location</h3>
        <p>Vous pouvez maintenant noter le loueur sur une note de 5.</p>
        <br>
        <div class="col-xs-12 col-md-5">
            <img id="etoilePic" class="" src="{{ asset('img/stars/star0.png') }}" alt="" usemap="#exemple-map-1" />
            <map name="exemple-map-1">
                <area shape="rect" coords="0, 0, 50, 50" href="{{ path('mark_add', {'note': 1, 'id': rent.id}) }}" alt="" onmouseenter="changePic(1)"/>
                <area shape="rect" coords="50, 0, 104, 50" href="{{ path('mark_add', {'note': 2, 'id': rent.id}) }}" alt="" onmouseenter="changePic(2)"/>
                <area shape="rect" coords="104, 0, 158, 50" href="{{ path('mark_add', {'note': 3, 'id': rent.id}) }}" alt="" onmouseenter="changePic(3)"/>
                <area shape="rect" coords="158, 0, 212, 50" href="{{ path('mark_add', {'note': 4, 'id': rent.id}) }}" alt="" onmouseenter="changePic(4)"/>
                <area shape="rect" coords="212, 0, 266, 50" href="{{ path('mark_add', {'note': 5, 'id': rent.id}) }}" alt="" onmouseenter="changePic(5)"/>
            </map>
        </div>
    </div>

    <script type="text/javascript">
        {% if rent.mark != 0 %}
        window.onload = function(){
            document.getElementById("etoilePic").src = "/img/stars/star"+{{ rent.mark }}+".png";
        }
        {% endif %}
        function changePic(stars) {
            document.getElementById("etoilePic").src = "/img/stars/star"+stars+".png";
        };
    </script>
{% endblock %}