{% extends 'base.html.twig' %}
{% block title %}Mes demandes{% endblock %}
{% block body %}
    <div class="container mt-5 mb-5">
        <h1 class="mb-4">Suivi des demandes de réservations</h1>


        <div class="col-md-12">
            {% if userRentals is empty %}
                Aucune annonce !
            {% else %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Annonce</th>
                        <th scope="col">Loueur</th>
                        <th scope="col">Dates réservés</th>
                        <th scope="col">Confirmé</th>
                        <th scope="col">Note</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in userRentals %}
                        <tr>
                            <td>
                                <a href="{{ path('show_announce', {'id': item.announce.id}) }}"> {{ item.announce.title }}</a>
                            </td>
                            <td>{{ item.announce.user }}</td>
                            <td>{{ item.choiceDate|date('d/m/Y') }}</td>
                            <td>{% if item.confirmed %}Oui{% else %}Non{% endif %}</td>
                            <td>{% if item.mark == true %}{{ item.mark }}/5{% else %}{% if item.confirmed %}<a href="{{ path('mark_show', {id: item.announce.id}) }}">Noter</a> {% else %}-{% endif %}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>


    </div>
{% endblock %}