{% extends 'base.html.twig' %}
{% block title %}Nouvelle annonce{% endblock %}
{% block body %}
    <div class="container padding_pages">
        <h1>Ajouter une annonce</h1>
        {{ form_start(formAnnounce) }}
        {{ form_row(formAnnounce.title, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(formAnnounce.description, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(formAnnounce.reference, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(formAnnounce.brandname, { 'attr': {'class': 'form-control'} }) }}
        {{ form_label(formAnnounce.purchase_date) }}
        <div class="form-group row">
            <div class="col-sm-3">
                {{ form_widget(formAnnounce.purchase_date) }}

            </div>
        </div>
        {{ form_row(formAnnounce.price, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(formAnnounce.instrument, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(formAnnounce.quality, { 'attr': {'class': 'form-control'} }) }}
        {{ form_row(formAnnounce.save, { 'attr': {'class': 'white_link'} }) }}
        {{ form_end(formAnnounce) }}
    </div>
{% endblock body %}